* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 30px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 40px;
    padding: 15px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    font-size: 60%;
    list-style-type: none;
}

.banner {
    background-image: url("../images/banner.jpg") ;
    height: 180px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.banner header {
    font-size: 25px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.bio {
    box-sizing: border-box;
    border: solid salmon;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
aside {
    flex: 1 0 0;
    padding: 20px;
    margin-top: 2%;
}

aside img {
    min-width: 300px;
    width: 33.33%;
    transform: scale (0, 1);
    transform: skew(2deg);
    border-radius: 50%;
}

.bio-box {
    flex: 3 0 0;
    padding: 20px;
    border: solid salmon;
    min-width: 400px;
}

.work {
    border: solid salmon;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    min-width: 500px;
}

.applications {
    border: solid salmon;
    display: flex;
    margin: 2%;
    flex-wrap: wrap;
}

.enlarge {
    flex: 1 0 0;
    text-align: left;
    border: solid;
    border-width: 1px;
    margin: 2%;
    padding: 20px
}

.enlarge img {
    width: 100%;
    min-width: 300px;

}

footer {
    border: solid salmon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-width: 400px;
    padding: 20px
}
.contactme {
    flex: 1 0 0;
    padding: 20px;
    min-width: 400px;
}

footer ul {
    flex: 3 0 0;
    border: solid salmon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 120%;
    min-width: 550px;
    margin-left: 50px;

}

footer ul li {
    padding: 20px;
    margin: 0 2% 
}