:root {
    --text: #001f33;
    --background: #e6f5ff;
    --border: #0099ff;
    --header: #002080;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

::selection {
    background-color: var(--border);
    color: var(--header);
}

body {
    font-size: 30px;
    background-color: var(--background);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 5px;
    background-color: var(--header);
    color: var(--background);
    min-width: 500px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    font-size: 80%;
}

header nav ul li {
    padding: 10px;
    color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid var(--header);
    border-width: 20px;
    box-shadow: var(--text);
}

a {
    background-color: var(--header);
    color: var(--background);
}

.banner {
    background-image: url("../images/full-moon-peeking-tree-branches-fog.jpg") ;
    height: 180px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: var(--background);
}


main {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background);
}

.bio {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--border);
}
aside {
    flex: 1 0 0;
    padding: 20px;
    margin-top: 2%;
}

aside img {
    min-width: 300px;
    width: 33.33%;
    transform: scale (0, 1);
    transform: skew(2deg);
    border-radius: 50%;
}

h2 {
    font-size: 35px;
}

#aboutme {
    margin-bottom: 2%;
    text-align: center;
}

.bio-box {
    flex: 3 0 0;
    padding: 20px;
    min-width: 400px;
    background-color: var(--border);
    color: var(--text);
}

.bio-box  p {
    font-size: 80%;
    line-height: 1.5;
}

.work {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    min-width: 500px;
    background-color: var(--header);
    color: var(--background);
    margin-top: 2%;
}

.applications {
    display: flex;
    margin: 2%;
    flex-wrap: wrap;
}

.enlarge header {
   justify-content: center;
}

.enlarge {
    text-align: left;
    border: solid;
    border-width: 1px;
    margin: 1%;
    padding: 10px;
    background-color: var(--border);
}

.first {
    flex: 2 0;
}

.other {
    flex: 0 6;
}

.enlarge:hover {
    transform: scale(1.3);
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-width: 400px;
    padding: 10px;
    background-color: var(--header);
    color: var(--background);
    margin-top: 2%;
}
.contactme {
    flex: 1 0 0;
    padding: 20px;
    min-width: 400px;
}

footer ul {
    flex: 3 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 120%;
    min-width: 550px;
    margin-left: 50px;
}

footer ul li {
    padding: 20px;
    margin: 0 2% 
}

footer a {
    color: var(--background);
}

@media  screen and (max-width: 992px){
    header, main, footer {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }   
}


@media screen and (max-width: 768px) {
    header, main, footer {
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      width: 100%;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }

    .bio {
        flex-direction: column;
    }

    .bio-box {
        color: var(--background);
    }

    body {
        flex-direction: column;
    }

  }